/* Account-Page CSS Start HEre */
.login-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #3BC072);
}
.social-linksss {
	position: absolute;
	bottom: 30px;
	left: 35px;
}
.form-container {
	background: #fff;
	width: 440px;
	height: 525px;
	position: relative;
	text-align: center;
	padding: 48px 0;
	margin: auto;
	box-shadow: 0 0 20px 3px;
	overflow: hidden;
	border-radius: 8px;
}
.form-container span {
    font-weight:  bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn {
    display: inline-block;
}
.form-container form {
	max-width: 440px;
	padding: 0 35px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
}
form input {
	width: 100%;
	height: 50px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}
form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    background: #3BC072;
}
form .btn:focus{
    outline: none;
}
#LoginForm {
	left: -440px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
    color: #000000;
}
#Indicator {
    width: 100px;
    border: none;
    background: #0da665;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

