/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .center {
        display: none;
    }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    nav ul li {
        margin-right: 30px;
    }
    .login-btn, .register-btn {
        width: 100px;
            padding: 15px 20px;

    }
    .center {
        display: none;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {



}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
    /* .navlist {
        right: -150%;
    } */

}
/*Max Width 992px*/
@media (max-width: 992px){
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: 90%;
        right: -200%;
        width: 300px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: #333;
        transition: all .50s ease;
    }
    .navlist a {
        display: block;
        padding: 17px;
        font-size: 18px;
    }

    .navlist.active {
        right: 0;
    }
    #menu-icon {
        position: absolute;
        right: 15px;
        top: 0;
    }
    .main-menu {
        position: relative;
    }
    .header-btn {
        display: none;
    }
    .login-btn, .register-btn {
        padding: 0;
    }
    .center {
        margin: 15px 75px;
    }
    .register-btn {
        display: flex;
        width: 150px;
        align-items: center;
        justify-content: center;
        background-color: #6dea6a;
        border-radius: 5px;
        margin-left: 0;
        transition: .3s;
        margin-top: 20px;
    }
    nav ul li {
        margin-right: 0;
    }
    .center {
        display: block;
    }
    .pprice {
        margin: 0 auto;
    }

}
