/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 90%;
        right: -100%;
        width: 300px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: #6dea6a;
        transition: all .50s ease;
    }

    .navlist a {
        display: block;
        padding: 17px;
        font-size: 18px;
    }

    .navlist.active {
        right: 0;
    }
    .sticky{
        display: none;
    }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
