/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .center {
        display: none;
    }
    .about-info {
        padding: 30px;
    }
    .counter {
        width: 280px;
    }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

    nav ul li {
        margin-right: 30px;
    }
    .login-btn, .register-btn {
        width: 100px;
            padding: 15px 20px;

    }
    .center {
        display: none;
    }
    #contact{
        display: none;
    }
    .about-info {
        padding: 5px;
     }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

    #contact{
        display: none;
    }
    .about-info {
       padding: 5px;
    }


}

 @media (max-width: 400px){
    .mobile-login{
        display: none !important;
      }
 }
/* small mobile :320px. */
@media (min-width: 320px) and (max-width: 480px) {

    #contact{
        display: none;
    }
    .search-btn {
        width: 124px;
        padding: 10px 15px;
        top: 37px;
    }
    .search-pagination ul li {
        margin-left: 5px;
    }
    .about-info {
        padding: 15px;
    }
    .about-info-title h2 {
        font-size: 27px;
        line-height: 43px;
    }
    .service-inner {
        width: 345px;
    }
    .mobile-login {
        text-align: center;
        margin-top: 6px;
    }
    .mobile-login a {
        color: #fff;
        font-size: 15px;
        margin-left: 5px;
        font-weight: 500;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 100%;
    }
    /* .navlist {
        right: -150%;
    } */
    #contact{
        display: none;
    }
    .search-btn {
        width: 124px;
        padding: 10px 15px;
        top: 37px;
    }
    .search-pagination ul li {
        margin-left: 5px;
    }
    .about-info {
        padding: 10px;
    }
    .about-info-title h2 {
        font-size: 27px;
        line-height: 43px;
    }
    .counter {
        width: 260px;
    }

}
/*Max Width 992px*/
@media (max-width: 992px){
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: 101%;
        right: -200%;
        width: 300px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: #333;
        transition: all .50s ease;
    }
    .navlist a {
        display: block;
        padding: 17px;
        font-size: 18px;
    }

    .navlist.active {
        right: 0;
    }
    #menu-icon {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .header-btn {
        display: none;
    }
    .login-btn, .register-btn {
        padding: 0;
    }
    .center {
        margin: 15px 75px;
    }
    .register-btn {
        display: flex;
        width: 150px;
        align-items: center;
        justify-content: center;
        background-color: #6dea6a;
        border-radius: 5px;
        margin-left: 0;
        transition: .3s;
        margin-top: 20px;
    }
    nav ul li {
        margin-right: 0;
    }
    nav ul li:first-child {
        padding-top: 30px;
    }
    .center {
        display: block;
    }
    .pprice {
        margin: 0 auto;
    }
    #contact{
        display: none;
    }
    .counter {
        margin: 0 auto;
    }
    .banner-content h1 {
        font-size: 34px;
        line-height: 50px;
    }
    .about-info-title h2 {
        font-size: 27px;
        line-height: 43px;
    }
    .pagination-icon .line-left, .pagination-icon .line-right {
        display: none;
    }
    .contact-left{
        display: none;
    }
    .mobile-login{
        display: block;
      }

}
